
@{
    Layout = null;
}

<h2>CustomVariable</h2>
<body>
    <div>The controller is :@ViewBag.Controller</div>
    <div>action is:@ViewBag.Action</div>
    <div>@ViewBag.CustomVariable</div>
</body>

